.bioinfo-main {
    width: auto;
    height: auto;
    background-color: #93B3CB;
}
.bioinfo-main p {
    color: white;
}
.bioinfo-main h1 {
    color: white;
}

/* BIO - TOP/TITLE */
.bio-top h1 {
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
}
.bio-top p {
    padding: 3vh 3vh 3vh 3vh;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
}



/* BIO - FIRST*/
.bio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh 5vw;
    gap: 5vw; /* space between text and image */
}

.bio-paper {
    display: flex;
    flex-direction: column;
    color: black;
}

.bio-paper h1 {
    padding-bottom: 2vh;
}

.bio-paper p {
    padding-top: 2vh;
}

.bio-paper-img img {
    width: 50vw;
}

/* RESPONSIVE: when screen width is less than 768px */
@media (max-width: 768px) {
    .bio-container {
        flex-direction: column; /* stack vertically */
        text-align: center;
    }

    .bio-paper-img img {
        width: 80vw; /* make image smaller on mobile */
        margin-top: 4vh;
    }
}
