.bioinfo-main {
    height: 100vh;
    background-color: white;
}

/* BIO - TOP/TITLE */
.bio-top h1 {
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}
.bio-top p {
    padding-top: 3vh;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
}


/* BIO - FIRST*/
.bio-paper {
    padding-left: 5vw;
}
.bio-paper h1 {
    color: rgb(0, 0, 0);
    padding-top: 5vh;
    display: flex;
}
.bio-paper p {
    padding-top: 2vh;
    display: flex;
    color: rgb(0, 0, 0);
}