.heropage-main {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100vw;
    background-color: white;
}

/* HERO LEFT */
.heropage-left {
    padding-left: 5%;
    padding-right: 2%;
    width: 50vw;
}
.heropage-left h1{
    padding-bottom: 2%;
}
.bio-img-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
}
.bio-img-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}
.bio-img-hover {
    opacity: 0;
}
.bio-img-wrapper:hover .bio-img-hover {
    opacity: 1;
}
.bio-img-wrapper:hover .bio-img-normal {
    opacity: 0;
}

.heropage-left h3 {
    padding-top: 2%;
}
.heropage-left p {
    color: #282828;

}

/* HERO RIGHT */
.heropage-right {
    padding-right: 5%;
    width: 50vw;
}
.heropage-right h1{
    padding-bottom: 2%;
}
.design-img-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
  }
  
  .design-img-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
    border-radius: 10px;
  }
  
  .design-img-hover {
    opacity: 0;
  }
  
  .design-img-wrapper:hover .design-img-hover {
    opacity: 1;
  }
  
  .design-img-wrapper:hover .design-img-normal {
    opacity: 0;
  }
  


.heropage-right h3 {
    padding-top: 2%;
}
.heropage-right p {
    color: #282828;

}