.homepage-main {
    display: flex;
    height: 400px;
  }
  
  /* LEFT SIDE */
  .homepage-LEFT {
    width: 5vw;
  }
  
  /* TITLE - MIDDLE */
  .homepage-title {
    width: 60vw;
  }
  
  .homepage-main h1 {
    color: #282828;
    padding: 5px;
    padding-top: 8%;
    font-size: 50pt;
  }
  
  .homepage-title p {
    color: #282828;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  .homepage-title button {
    background-color: #282828;
    color: white;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .homepage-title button:hover {
    background: none;
    border: 1px solid #282828;
    color: #282828;
  }
  
  /* RIGHT SIDE */
  .homepage-RIGHT {
    width: 35vw;
    position: relative;
    text-align: left; /* Ensure text is left-aligned */
  }
  
  .homepage-RIGHT p {
    padding: 10%;
    justify-content: flex-start; /* Left justify the text */
  }
  
  /* Hide stickers and text on mobile */
  .no-stickers .stkr,
  .no-stickers p {
    display: none;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .homepage-main {
      flex-direction: column;
      align-items: center;
    }
  
    .homepage-title {
      width: 80%;
      text-align: center;
    }
  
    .homepage-RIGHT {
      width: 80%;
      margin-top: 20px;
      text-align: left; /* Keep text aligned left */
    }
  
    .homepage-main h1 {
      font-size: 35pt;
      padding-top: 8%;
      text-align: left;
    }
  
    .homepage-title p {
      padding: 5px;
      font-size: 16px;
      padding-top: 5%;
      padding-bottom: 5%;
    }
  
    .homepage-title button {
      font-size: 14px;
    }
  }
  