/* Basic styling for the navbar */
.navbar-main {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #EFEFEF;
    font-family: 'BR Firma', sans-serif;
    color: #282828;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Logo styling */
  .navbar-LEFT img {
    width: 70px;
    padding-top: 5vh;
    padding-left: 5vh;
  }
  
  /* Desktop Links */
  .navbar-RIGHT {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5vw;
  }
  
  .navbar-RIGHT p {
    font-size: 15px;
    cursor: pointer;
  }
  
  .navbar-BUTTON button {
    padding-right: 5vw;
    background-color: #282828;
    color: white;
    font-family: 'BR Firma', sans-serif;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .navbar-BUTTON button:hover {
    background: none;
    border: 1px solid #282828;
    color: #282828;
  }
  
  /* Mobile Menu Button (Hamburger Icon) */
  .navbar-mobile {
    padding-right: 5vw;
    display: none;
    cursor: pointer;
  }
  
  /* custom hamburger icon*/
  .hamburger {
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 25px;
    height: 20px;
    justify-content: space-between;
  }
  
  /* individual bars of hamburger */
  .hamburger span {
    padding-right: 5vw;
    width: 80%;
    height: 4px;
    background-color: #282828;
    border-radius: 5px; /* Optional: rounded corners */
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  /* hamburger bar - transformation when menu is open */
  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  /* Mobile Full-Screen Menu */
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mobile-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .mobile-menu li a { /* text of menu */
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
  }
  
  /* Responsive: Mobile View */
  @media (max-width: 768px) {
    .navbar-RIGHT {
      display: none;
    }
  
    .navbar-mobile {
      display: block;
    }
  }
  