.App h1 {
    font-family: 'BR Firma', sans-serif;
}
.App h3 {
    font-family: 'BR Firma', sans-serif;
}
.App h4 {
    font-family: 'BR Firma', sans-serif;
}
.App p { 
    font-family: 'BR Firma', sans-serif;
}
.App button {
    font-family: 'BR Firma', sans-serif;
}